<header class="header1">
    <div class="page-menu--toggle page-menu__hamburger">
        <fa-icon [icon]="faXmark" id="btn_close"></fa-icon>
    </div>

    <div class="page-menu--toggle page-menu__hamburger">
        <span class="title">
            AGENDA ESPECIFICA
        </span>
    </div>

    <div class="page-menu--toggle page-menu__hamburger">
        <fa-icon [icon]="faCheck" (click)="validacaoEvento()" id="btn_seguir"></fa-icon>
    </div>
</header>

<div id="divEventos" class="div_eventos">
    <div *ngFor="let evento of listaEventosAgenda" 
         (click)="selecionarEvento(evento)"
         [class.perfil_ec_selected]="atualEventoId === evento.evento_id"
         [attr.data-evento_cod]="evento.evento_id" 
         class="eventos_select divPerfilEC" 
        >
      
      <div>
        <img [src]="evento.evento_icone_img" alt="Ícone do evento">
      </div>

      <span>{{ evento.evento_nome }}</span>
    </div>
</div>

<div class="inputs_agenda cadastro">
    <div *ngIf="mostrarSelectEventos" style="margin-top: 10px ;width: 100%;">
        <div class="div_inputs_agendas">
            <fa-icon [icon]="faHandsPraying" class="input-icon"></fa-icon>

            <select class="inputs_geral" id="select_evento" name="select_evento" [(ngModel)]="selectEvento" (change)="selectEventsInput($event)" required>
                <option value="0" selected>Selecione o evento</option>
                <option value="Almoço">Almoço</option>
                <option value="Quermesse">Quermesse</option>
                <option value="Festa">Festa</option>
                <option value="Grupo de oração">Grupo de oração</option>
                <option value="Grupo de jovens">Grupo de jovens</option>
                <option value="Feijoada">Feijoada</option>
                <option value="Pizza">Pizza</option>
                <option value="Pastel">Pastel</option>
                <option value="Crisma">Crisma</option>
                <option value="Primeira comunhão">Primeira comunhão</option>
                <option value="Outros">Outros</option>
            </select>
        </div>
    </div>

    <div *ngIf="divTextEvento" style="margin-top: 10px ;width: 100%;">
        <div class="div_inputs_agendas">
            <fa-icon [icon]="faPen" class="input-icon"></fa-icon>
            <input class="inputs_geral" [(ngModel)]="textEvento" id="text_evento" name="text_evento" placeholder="Digite o evento a ser realizado" required>
        </div>
    </div>

    <div style="margin-top: 10px; width: 100%;">
        <div class="div_inputs_agendas">
            <fa-icon [icon]="faCalendarDay" class="input-icon"></fa-icon>
            <input type="text" [(ngModel)]="dataEvento" (click)="openModalCalendar()" class="inputs_geral" id="data_evento" name="data_evento" placeholder="Data do evento" required>
        </div>
    </div>

    <div class="container_de_ate">
        <div class="div_inputs_agendas_de_ate" style="margin-left: -20px;">
            <fa-icon [icon]="faHourglassStart" class="input-icon"></fa-icon>
            <select class="inputs_geral" [(ngModel)]="selectAgendaDe" (change)="autoCompleteAgendaDeAte($event)" id="agenda_de" name="agenda_de" placeholder="Das" required>
                <option value="0" selected>Das</option>
                <option *ngFor="let horario of horarios" [value]="horario">{{ horario }}</option>
            </select>
        </div>

        <div class="div_inputs_agendas_de_ate">
            <fa-icon [icon]="faHourglassEnd" class="input-icon"></fa-icon>
            <select class="inputs_geral" [(ngModel)]="selectAgendaAte" id="agenda_ate" name="agenda_ate" placeholder="Das" required>
                <option value="0" selected>Até</option>
                <option *ngFor="let horario of horarios" [value]="horario">{{ horario }}</option>
            </select>
        </div>
    </div>
</div>

<!-----------------------------------------------Modais----------------------------------------------------------->

<app-modal *ngIf="showModalCalendario" [estilosModalContent]="estiloModalContent">
    <div modal-body>
        <app-calendario-utils (daySelected)="onDaySelected($event)"></app-calendario-utils>
    </div>
</app-modal>

<app-modal *ngIf="showModalConfirmacao">
    <div modal-body style="font-size: 13px;">
        {{textoConfirmacao}}
    </div>

    <div modal-footer class="modal-footer">
        <button id="confirmar" (click)="closeModalConfirmacao()">OK</button>
    </div>
</app-modal>