<div class="contain_cidade" (click)="selecionarCidade()">
    <fa-icon [icon]="faLocationDot" ></fa-icon>
    <span>{{cidadeNome}}</span>
</div>


<div id="divListaPrincipal">
    <div *ngFor="let paroquia of igrejas; let i = index" class="div-igreja">
        <div class="contain_lista_paroquia" (click)="toggleAccordion(paroquia)">
            <div class="list-line">
                <span class="span-igreja">
                    <p>{{paroquia.tipo}}</p>
                </span>
                <div class="contain_options_lista">
                    <fa-icon [icon]="faPenToSquare" (click)="editarParoquia(paroquia.paroquia_id)" class="editar_paroquia"></fa-icon>
                    <fa-icon [icon]="faUserPlus" (click)="openModal(paroquia.paroquia_id)" class="botao_adicionar"></fa-icon>
                    <fa-icon ></fa-icon>
                </div>
            </div>
        </div>
        <div [ngClass]="{'expanded': paroquia.expanded}" class="accordion div-igreja-detalhes">
            <div *ngFor="let comunidade of paroquia.listabycat; let j = index" class="contain_lista_comunidade">
                <div class="list-line" (click)="toggleDetalhes(comunidade)">
                    <span for="itens-check" class="label-lista">
                        <label>
                            {{comunidade.igreja_nome}}
                        </label>
                    </span>
                    <fa-icon></fa-icon>
                </div>
                <div [ngClass]="{'expanded': comunidade.expanded}" class=" accordion modal-container endereco-lista">
                    <div>
                        <p style="padding-top: 5px;">
                            {{comunidade.igreja_endereco_logradouro}}, {{comunidade.igreja_endereco_numero}}
                        </p>
                        <p>
                            {{comunidade.igreja_endereco_bairro}}
                        </p>
                        <p>
                            {{comunidade.igreja_endereco_cidade}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="add" (click)="getNovaParoquia()">
    <fa-icon [icon]="faPlus" class="plus"></fa-icon>
</div>


<!---------------------Modal para montar template--------------------------->


<div *ngIf="modalAdicionar" id="modalAdicionar" class="modal" style="display: block;">
    <div class="modal-content cadastro">
        <div>
            <input class="cadastro__input" id="id_paroquia" type="hidden" required>
        </div>

        <div class="contain_inputs">
            <fa-icon [icon]="faUser" class="icon_inputs"></fa-icon>
            <input [(ngModel)]="usuarioNome" class="cadastro__input" id="usuario_nome" name="usuario_nome" placeholder="Nome" required>
        </div>

        <div class="contain_inputs">
            <fa-icon [icon]="faPhone" class="icon_inputs"></fa-icon>
            <input [(ngModel)]="usuarioCelular" class="cadastro__input" id="usuario_celular" name="usuario_celular" placeholder="15000000000" type="number" required>
        </div>

        <div class="contain_inputs">
            <fa-icon [icon]="faBriefcase" class="icon_inputs"></fa-icon>
            <select [(ngModel)]="usuarioTipo" class="cadastro__input" id="usuario_tipo" name="usuario_tipo" placeholder="Função" required>
                <option value="tipo" selected>Função</option>
                <option value="P">Pároco</option>
                <option value="S">Secretário</option>
                <option value="O">Outro</option>
            </select>
        </div>

        <div class="contain_inputs">
            <fa-icon id="copy_link" [icon]="faCopy" class="icon_inputs"></fa-icon>
            <input class="cadastro__input" id="link_usuario" name="link_usuario" placeholder="Link" required>
        </div>

        <div class="modal-footer">
            <button (click)="closeModal()" class="modal-close" href="#!" id="cancelarAdicao">
                Cancelar
            </button>

            <button (click)="getNovoUsuario()" href="#!" id="confirmarAdicao">
                Confirmar
            </button>
        </div>
    </div>
</div>