<header class="header1">
    <div class="page-menu--toggle page-menu__hamburger" id="div_btn_close" (click)="backToLista()">
        <fa-icon [icon]="faXmark" id="btn_close" style="color: white; font-size: 24px;"></fa-icon>
    </div>

    <div class="div_nome-igreja" (click)="openModalNome()">
        <span id="span_nome-igreja">{{nomeIgreja}}</span>
    </div>

    <div class="page-menu--toggle page-menu__hamburger" href="#" id="div_btn_salvar" (click)="salvar()">
        <fa-icon [icon]="faCheck" id="btn_salvar" style="color: white; font-size: 24px;"></fa-icon>
    </div>
</header>

<div id="img_fundo" class="div_imgFundo_perfil" (click)="clickSelectFileFundoIgreja()">
    <div class="imgFundo_perfil">
        <img *ngIf="existeFundo" id="img_fundo_src" [src]="imgFundoUrl" style="width: 100%; height: 250px;">

        <div style="border-radius: 50%; position: absolute; top: 215px; right: 1.5rem; background-color: lightgrey; width: 30px; height: 30px; align-items: center; justify-content: center; display: flex;">
            <fa-icon [icon]="faCamera" style="position: relative; font-size: 20px; color: darkred;"></fa-icon>
        </div>
    </div>
</div>

<div id="imagem_igreja" class="div_img_igreja" (click)="carregarBancoImagens()">
    <img id="img_igreja_selected" class="img_igreja1"  [src]="imgIgrejaUrl">

    <div style="border: 3px solid white; border-radius: 50%; position: absolute; top: 80px; right: 0px; background-color: lightgrey; width: 30px; height: 30px; align-items: center; justify-content: center; display: flex;">
        <fa-icon id="select_img_igreja" [icon]="faCamera" style="position: relative; font-size: 17px; color: darkred;"></fa-icon>
    </div>
</div>

<div class="conteudo_perfil">
    <div style="justify-content: right; display: flex; align-items: center;">
        <span class="abrir_hora_fixo" (click)="openModalHorariosFixos()">
            <span id="horarios_fixos">
                Editar horários fixos
            </span>
            <fa-icon [icon]="faClock" class="icone_editar ion_map"> </fa-icon>
        </span>
    </div>

    <div class="a_div_perfil">
        <span id="endereco_da_igreja" class="endereco_igreja">
            {{enderecoIgreja}}
        </span>

        <span id="contato_da_igreja" class="contato_igreja" *ngIf="!textWhats && !textFace && !textInsta && !textEmail"
                (click)="openModalContatos()"
                style="display: flex; align-items: center; justify-content: center; gap: 10px;">
                <div><img src="whatsapp.png"></div>
                <div><img src="facebook.png" alt=""></div>
                <div><img src="instagram.png" alt=""></div>
                <div><img src="email.png" alt=""></div>
        </span>

        <div class="contatos" (click)="openModalContatos()" *ngIf="textWhats || textFace || textInsta || textEmail">
            <div class="contato" *ngIf="textWhats">
                <img src="whatsapp.png">
                <span>{{textWhats}}</span>
            </div>

            <div class="contato" *ngIf="textFace">
                <img src="facebook.png">
                <span>{{textFace}}</span>
            </div>

            <div class="contato" *ngIf="textInsta">
                <img src="instagram.png">
                <span>{{textInsta}}</span>
            </div>

            <div class="contato" *ngIf="textEmail">
                <img src="email.png">
                <span>{{textEmail}}</span>
            </div>
        </div>
    </div>
</div>

<!-------------------------------------------input Select Img File---------------------------------->
<input
type="file"
id="selectFileIgreja"
accept="image/*"
style="display: none;"
(change)="selectImgIgreja($event)"
/>

<input
type="file"
id="selectFileFundoIgreja"
accept="image/*"
style="display: none;"
(change)="selectImgFundoIgreja($event)"
/>

<!----------------------------------------------modais------------------------------------------->

<app-modal *ngIf="showModalContatos" [estilosModalContent]="estiloModalContent">
    <div modal-body class="modal-content">
        <div class="inputs-modal-contatos">
            <img src="whatsapp.png">
            <input class="cadastro__input inputContatos" id="whatsapp_txt" name="whatsapp_txt" type="text" maxlength="15"
                placeholder="Whatsapp" [(ngModel)]="textWhats" (input)="mascaraTelefone($event)" (keydown)="permitirApenasNumeros($event)"
                required>
        </div>

        <div class="inputs-modal-contatos">
            <img src="facebook.png">
            <input class="cadastro__input inputContatos" id="facebook_txt" name="facebook_txt"
                placeholder="Facebook" [(ngModel)]="textFace"
                required>
        </div>

        <div class="inputs-modal-contatos">
            <img src="instagram.png">
            <input class="cadastro__input inputContatos" id="instagram_txt" name="instagram_txt"
                placeholder="Instagram" [(ngModel)]="textInsta"
                required>
        </div>

        <div class="inputs-modal-contatos">
            <img src="email.png">
            <input class="cadastro__input inputContatos" id="email_txt" name="email_txt"
                placeholder="Email" [(ngModel)]="textEmail"
                required>
        </div>
    </div>

    <div modal-footer class="modal-footer">
        <button (click)="closeModalContatos()">OK</button>
    </div>
</app-modal>

<app-modal [estilosModalContent]="estilosModalContentBancoImg" *ngIf="showModalBancoImg">
    <div modal-body class="modal-content">
        <div class="modal_header" style="height: 50px; width: 100%;">
            <fa-icon class="modal_close" [icon]="faXmark" (click)="closeModalBancoImg()"></fa-icon>

            <div class="modal_imagens_header">
                <input id="pesquisa_imagens" class="input_imagens_header" [(ngModel)]="pesquisa" (input)="filtrarImagens()" type="text" placeholder="Pesquisar">
            </div>
        </div>

        <div class="modal_body" style="width: 100%">
            <div class="comunidade_select_container">
                <div class="comunidade_select_img" (click)="selecionarImagem(img.igreja_logo_url)" *ngFor="let img of bancoImagemFiltrado">
                    <img id="img_igreja_desc_resumida"  [src]="img.igreja_logo_url">
                    <span id="desc_resumida">{{img.igreja_desc_resumida}}</span>
                </div>
            </div>
        </div>

    </div>

    <div modal-footer class="modal_footer">
        <h5 (click)="clickSelectFileIgreja()">Nenhuma dessas</h5>
    </div>
</app-modal>

<app-modal [estilosModalContent]="estiloModalContent" *ngIf="showModalNome">
    <div modal-body class="modal-content">
        <div class="input_nome_igreja_modal">

            <fa-icon [icon]="faChurch" style="color: lightgray; font-size: 20px;"></fa-icon>

            <input class="cadastro__input inputContatos" [(ngModel)]="nomeIgreja" id="nome_igreja" name="nome_igreja" type="text" placeholder="Digite o Nome da igreja"
                required>
        </div>
    </div>

    <div modal-footer class="modal-footer">
        <button (click)="closeModalNome()">OK</button>
    </div>
</app-modal>

<app-modal [estilosModalContent]="estilosModalContentHorariosFixos" [estilosModal]="estiloModal" *ngIf="showModalHorariosFixos">
     <div modal-body>
        <div class="modal_header">
            <fa-icon class="modal_close" [icon]="faXmark" (click)="closeModalHorariosFixos()"></fa-icon>

            <h3 class="h3_modal">Horários</h3>
            <h6 id="click_sugestao1" style="color: lightgreen; text-align: center;" (click)="toggleSugestao1()"> Sugestão 1</h6>

            <div id="sugestao1" *ngIf="showSugestao1">
                <p>
                    <strong>
                        Missa:
                    </strong>
                    &nbsp;
                </p>
                <p>
                    s&aacute;bado &aacute;s 19h30;
                </p>
                <p>
                    domingo &aacute;s 20h;
                </p>
                <p>
                    <strong>
                        Confiss&otilde;es:
                    </strong>
                    &nbsp;
                </p>
                <p>
                    quarta e quinta das 14h &aacute;s 17h;
                </p>
            </div>
        </div>

        <div class="modal_body">
            <app-tiny-editor [placeholder]="placeholderHorarios" [descricao]="horarios.horariosDesc" [editorHeight]="170" (keyup)="valTextArea($event)"></app-tiny-editor>
        </div>
     </div>
</app-modal>