<nav class="mobile-nav mobile_nav" role="navigation" style="display: none;">
    <ul class="mobile-nav__items">
        <li>
            <a class="mobile-nav__link-produtos3">
                <fa-icon></fa-icon>
                Igrejas
            </a>
        </li>

        <li>
            <a class="mobile-nav__link-categorias2">
                <fa-icon></fa-icon>
                Perfil
            </a>
        </li>
    </ul>
</nav>


<div class="page-menu">
    <header class="header1">

        <div class="page-menu--toggle page-menu__hamburger" href="#" id="btnMenu">

            <span class="page-menu__item"></span>

            <span class="page-menu__item"></span>

            <span class="page-menu__item"></span>

        </div>

        <span class="span_header" id="span_header">CALENDÁRIO</span><br>

    </header>

    <div id="divPrincipal">

        <div class="container">

            <div class="calendarYearMonth center">
                <fa-icon class="left calBtn" [icon]="faAngleLeft" (click)="prevMonth()"></fa-icon>
                <p id="yearMonth"> {{ year }} {{ monthName }} </p>
                <fa-icon class="right calBtn" [icon]="faAngleRight" (click)="nextMonth()"></fa-icon>
            </div>

            <div>
                <ol class="calendarList1">
                    <li class="day-name">Seg</li>
                    <li class="day-name">Ter</li>
                    <li class="day-name">Qua</li>
                    <li class="day-name">Qui</li>
                    <li class="day-name">Sex</li>
                    <li class="day-name">Sab</li>
                    <li class="day-name">Dom</li>
                </ol>

                <ol class="calendarList2" id="calendarList">
                    <li *ngFor="let day of daysInMonth" 
                        [ngClass]="{ 'dia_eventos': isEventDay(day) }"
                        [ngStyle]="{'grid-column-start': day == 1 ? firstDay : undefined}" 
                        (click)="onDayClick(day, month, year)"
                        [class.dia_selecionado]="selectedDay == day"
                        [attr.id]="day"
                        >
                        {{ day }}
                    </li>
                </ol>

            </div>

            <div id="divListaAgenda" class="lista_agenda">
                <div *ngFor="let item of agendaItems" class="pesq">
                    <div class="add" style="display: flex;" [attr.data-agenda_id]="item.agenda_id">

                        <div style="width: 20%; text-align: left;">
                            <span style="font-size:1.5rem; color: black; margin-left: 15px;">
                                {{item.agenda_hora}}
                            </span>
                        </div>

                        <div style="width: 50%; text-align: left;">
                            <span style="font-size:1.5rem; color: black;">
                                {{item.evento_nome}}
                            </span>
                        </div>

                        <div id="div_status" style="width: 10%; align-items: center; display: flex; justify-content: center;">
                            <div [attr.data-agenda_id]="item.agenda_id" 
                                [attr.data-status]="item.agenda_layout_tipo" 
                                class="status_layout" 
                                [ngStyle]="{
                                'border-radius': '50%', 
                                'background-color': statusLayoutColor(item.agenda_layout_tipo), 
                                'width': '10px', 
                                'height': '10px', 
                                'border': '1px solid ' + statusLayoutColor(item.agenda_layout_tipo)
                                }">
                            </div>
                        </div>

                        <div class="columns">
                            <fa-icon
                            [attr.data-agenda_img]="item.agenda_img"
                            [attr.data-agenda_id]="item.agenda_id"
                            [attr.data-agenda_hora]="item.agenda_hora"
                            [attr.data-status]="item.agenda_layout_tipo"
                            [attr.data-logo_url]="item.igreja_logo_url"
                            [attr.data-igreja_nome]="item.igreja_nome"
                            [attr.data-agenda_desc]="item.agenda_layout_upload_desc"
                            [icon]="faEllipsis">
                            
                            </fa-icon>
                        </div>

                    </div>
                </div>
            </div>

        </div>



        <div id="add">
            <fa-icon class="plus" [icon]="faPlus">
                
            </fa-icon>
        </div>
    </div>
</div>