<nav class="mobile-nav mobile_nav" role="navigation" style="display: none;">
    <ul class="mobile-nav__items">
        <li>
            <a class="mobile-nav__link-produtos3">
                <fa-icon></fa-icon>
                Igrejas
            </a>
        </li>

        <li>
            <a class="mobile-nav__link-categorias2">
                <fa-icon></fa-icon>
                Perfil
            </a>
        </li>
    </ul>
</nav>


<div class="page-menu">
    <header class="header1">

        <div class="page-menu--toggle page-menu__hamburger" href="#" id="btnMenu">

            <span class="page-menu__item"></span>

            <span class="page-menu__item"></span>

            <span class="page-menu__item"></span>

        </div>

        <span class="span_header" id="span_header">CALENDÁRIO</span><br>

    </header>

    <div id="divPrincipal">

        <div class="container">

            <div class="calendarYearMonth center">
                <fa-icon class="left calBtn" [icon]="faAngleLeft" (click)="prevMonth()"></fa-icon>
                <p id="yearMonth"> {{ year }} {{ monthName }} </p>
                <fa-icon class="right calBtn" [icon]="faAngleRight" (click)="nextMonth()"></fa-icon>
            </div>

            <div>
                <ol class="calendarList1">
                    <li class="day-name">Seg</li>
                    <li class="day-name">Ter</li>
                    <li class="day-name">Qua</li>
                    <li class="day-name">Qui</li>
                    <li class="day-name">Sex</li>
                    <li class="day-name">Sab</li>
                    <li class="day-name">Dom</li>
                </ol>

                <ol class="calendarList2" id="calendarList">
                    <li *ngFor="let day of daysInMonth" 
                        [ngClass]="{ 'dia_eventos': isEventDay(day) }"
                        [ngStyle]="{'grid-column-start': day == 1 ? firstDay : undefined}" 
                        (click)="onDayClick(day, month, year)"
                        [class.dia_selecionado]="selectedDay == day"
                        [attr.id]="day"
                        >
                        {{ day }}
                    </li>
                </ol>

            </div>

            <div id="divListaAgenda" class="lista_agenda">
                <div *ngFor="let item of agendaItems" class="pesq">
                    <div class="add" style="display: flex;" [attr.data-agenda_id]="item.agenda_id">

                        <div style="width: 20%; text-align: left;">
                            <span style="font-size:1.5rem; color: black; margin-left: 15px;">
                                {{item.agenda_hora}}
                            </span>
                        </div>

                        <div style="width: 50%; text-align: left;">
                            <span style="font-size:1.5rem; color: black;">
                                {{item.evento_nome}}
                            </span>
                        </div>

                        <div id="div_status" style="width: 10%; align-items: center; display: flex; justify-content: center;">
                            <div [attr.data-agenda_id]="item.agenda_id" 
                                [attr.data-status]="item.agenda_layout_tipo" 
                                class="status_layout" 
                                [ngStyle]="{
                                'border-radius': '50%', 
                                'background-color': statusLayoutColor(item.agenda_layout_tipo), 
                                'width': '10px', 
                                'height': '10px', 
                                'border': '1px solid ' + statusLayoutColor(item.agenda_layout_tipo)
                                }">
                            </div>
                        </div>

                        <div class="columns">
                            <fa-icon [icon]="faEllipsis" (click)="openModalConfig(item)"></fa-icon>
                        </div>

                    </div>
                </div>
            </div>

        </div>



        <div id="add">
            <fa-icon class="plus" [icon]="faPlus">
                
            </fa-icon>
        </div>
    </div>


    <app-modal *ngIf="showModalConfig">
        <div modal-body>
          <div class="config_modal">

            <div id="visualizar_layout" (click)="openModalViewAgenda()">
                <div class="container_config">
                    <fa-icon [icon]="faImage" class="config_opcoes"></fa-icon>
                    <span data-agenda_img="" data-logo_url="" data-igreja_nome="" data-agenda_desc="" class="acToggle">Visualizar layout</span>
                </div>
            </div>

            <div id="editar_layout">
                <div class="container_config">
                    <fa-icon [icon]="faGear" class="config_opcoes"></fa-icon>
                    <span data-agenda_id="" data-agenda_hora="" data-status="" class="acToggle">Editar layout</span>
                </div>
            </div>

            <div id="excluir" (click)="pre_lote()">
                <div class="container_config">
                    <fa-icon data-agenda_id="" [icon]="faTrash" class="config_opcoes"></fa-icon>
                    <span>Excluir</span>
                </div>
            </div>

          </div>
        </div>
  
        <div modal-footer class="modal-footer">
            <button id="cancelar" (click)="closeModalConfig()">
                <div>
                    <span>Cancelar</span>
                </div>
            </button>
        </div>
    </app-modal>


    <app-modal *ngIf="showModalViewAgenda" [estilosModal]="estiloModal" [estilosModalContent]="estiloModalContent">
        <div modal-background>
            <fa-icon (click)="closeModalViewAgenda()" [icon]="faXmark" class="close_modal_visualizar"></fa-icon>
        </div>
        <div modal-body>
            <div class="feed_principal">
                <div class="div_feed_secundario">
                    <div>
                        <div>
                            <a class="div_perfil">
                                <div class="perfil_div">
                                    <img id="imagem_igreja" class="img_igreja" src="{{igrejaLogoUrl}}">
                                    <span class="nome_igreja">{{igrejaNome}}</span>
                                </div>
                            </a>
                        </div>
                        <div class="div_layout_feed">
                            <a class="a_img_layout">
                                <img id="visualiza_layout_feed" src="{{agendaImg}}">
                            </a>
                            <div class="div_descricao">
                                <span id="descricao_layout_feed" class="span_descricao" [innerHTML]="agendaDesc"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </app-modal>

    <app-modal *ngIf="showModalRemoveE">
        <div modal-body>
            <h1>Deseja excluir este agendamento?</h1>
        </div>

        <div modal-footer class="modal-footer" style="display: flex;">
            <button id="cancelarRemocao" (click)="closeModalRemoveE()" style="width: unset; font-size: 1rem; padding: 8px 10px;">Cancelar</button>
            <button id="confirmarRemocao" (click)="removeAgendaEspecifica()" style="width: unset; font-size: 1rem; padding: 8px 10px;">Confirmar</button>
        </div>
    </app-modal>

    <app-modal *ngIf="showModalRemoveL">
        <div modal-body>
            <p id="mensagem_modalPreExcluir" [innerHTML]="texto_modal" style="line-height:20px"></p>
        </div>

        <div modal-footer class="modal-footer" style="display: grid !important; gap: 10px;">
            <div style="display: flex;">
                <button (click)="removeAgendaLote()" id="excluirLote" class="opcoes_modal_excluir" style="width: 100px;">Excluir todas</button>
                <button (click)="removeAgendaEspecifica()" id="excluirEspecifica" class="opcoes_modal_excluir" style="width: 100px;">Excluir esta</button>
            </div>
            <div>
                <button (click)="closeModalRemoveL()" id="cancelarExclusao" class="modal-close cancelar_modal_excluir" style="width: 150px;">Cancelar</button>
            </div>
        </div>
    </app-modal>
</div>