<div class="visualiza-evento">
    <div class="div_perfil">
        <fa-icon [icon]="faArrowLeft" id="back_modal" (click)="closeModal()"></fa-icon>

        <div class="perfil_div" (click)="goPerfilIgreja(evento?.agenda?.agenda_igreja_id)">
            <img class="img_igreja" [src]="evento?.agenda?.igreja_logo_url">
            <span class="nome_igreja">
                {{ evento?.agenda?.igreja_nome }}
            </span>
        </div>

        <div class="contain_data_modal">
            <span id="dia_evento" *ngIf="evento?.agenda">
                {{dataAgenda(evento)}}
            </span>
            <span id="hora_evento" *ngIf="evento?.agenda">
                {{horarioAgenda(evento)}}
            </span>
        </div>
    </div>

    <div class="feed_principal">
        <div class="div_img_layout">
            <img id="visualiza_layout_feed" [src]="evento?.agenda?.agenda_img" >
        </div>
    </div>

    <div id="divFixa">
        <div id="horizontal_eventos">
            <!--Começo da repetição-->
            <div *ngFor="let eventoIgreja of evento?.eventos_igreja" (click)="selectEvento(eventoIgreja?.agenda_id)" id="agenda" class="agenda_events">
                <div class="div_principal_agendas">
                    <div class="div_agenda">
                        <span class="span_agenda span_agenda_left">
                            {{dataAgendaEventos(eventoIgreja)}}
                        </span>
                        <span class="span_agenda span_agenda_right">
                            {{horarioAgendaEventos(eventoIgreja)}}
                        </span>
                    </div>
                    <img id="div_img" [src]="eventoIgreja?.agenda_img">

                    <div id="nome_igreja_desc">
                        <span>
                            {{ eventoIgreja?.igreja_desc_resumida }}
                        </span>
                    </div>
                </div>
            </div>
            <!--Fim da repetição-->
        </div>
        <div class="div_ver_mais">
            <span (click)="goPerfilIgreja(evento?.agenda?.agenda_igreja_id)">
                Ver mais
            </span>
        </div>
    </div>
</div>