<div class="visualiza-evento">
    <div class="div_perfil">
        <fa-icon [icon]="faArrowLeft" id="back_modal"></fa-icon>

        <div class="perfil_div">
            <img class="img_igreja" src="https://pedeoferta.com.br/templo/img/perfil/118_upload_mini.webp">
            <span class="nome_igreja">
                São Joaquim e Sant'ana 
            </span>
        </div>

        <div class="contain_data_modal">
            <span id="dia_evento">
                AMANHÃ
            </span>
            <span id="hora_evento">
                19:30
            </span>
        </div>
    </div>

    <div class="feed_principal">
        <div class="div_img_layout">
            <img id="visualiza_layout_feed" src="https://pedeoferta.com.br/templo/img/layout/46_lote_media.webp">
        </div>
    </div>

    <div id="divFixa">
        <div id="horizontal_eventos">
            <!--Começo da repetição-->
            <div id="agenda" class="agenda_events">
                <div class="div_principal_agendas">
                    <div class="div_agenda">
                        <span class="span_agenda span_agenda_left">
                            SEXTA
                        </span>
                        <span class="span_agenda span_agenda_right">
                            18:00
                        </span>
                    </div>
                    <img id="div_img" src="https://pedeoferta.com.br/templo/img/layout/9706_upload_mini.webp">

                    <div id="nome_igreja_desc">
                        <span>
                            N.S.Sagrado Coração 
                        </span>
                    </div>
                </div>
            </div>
            <!--Fim da repetição-->
        </div>
        <div class="div_ver_mais">
            <span>
                Ver mais
            </span>
        </div>
    </div>
</div>