<div class="calendarYearMonth center">
    <fa-icon [icon]="faAngleLeft" class="left calBtn" (click)="prevMonth()"></fa-icon>
    <p id="yearMonth">{{ globalCY }} {{ monthName }}</p>
    <fa-icon [icon]="faAngleRight" class="right calBtn" (click)="nextMonth()"></fa-icon>
  </div>
  
  <ol class="calendarList1">
    <li class="day-name">Seg</li>
    <li class="day-name">Ter</li>
    <li class="day-name">Qua</li>
    <li class="day-name">Qui</li>
    <li class="day-name">Sex</li>
    <li class="day-name">Sab</li>
    <li class="day-name">Dom</li>
  </ol>
  
  <ol class="calendarList2" id="calendarList">
    <li *ngFor="let day of [].constructor(daysInMonth); let i = index" 
        [ngStyle]="{'grid-column-start': (i + firstDay) % 7 + 1}"
        [ngClass]="{ 'dia_selecionado': selectedDay === i + 1 }"
        (click)="selectDay(i + 1)">
      {{ i + 1 }}
    </li>
  </ol>
  