<header id="divHeader" class="div_header">
    <span class="span_header">
        LOGIN
    </span>
    <fa-icon (click)="login()" id="btn_seguir" [icon]="faCheck"></fa-icon>
</header>

<main class="cadastro" id="gSignInWrapper">
    <div>
        <div class="contain_alert">
            <span class="cadastro__alert is-alert">{{errorMessage}}</span>
        </div>

        <div class="container_input">
            <fa-icon class="icon_inputs" [icon]="faMobileScreenButton"></fa-icon>
            <input class="cadastro_input" [(ngModel)]="usuario_celular" (keydown)="permitirApenasNumeros($event)" id="celular" type="text" name="celular" placeholder="DDD+Celular" maxlength="11" required>
        </div>

        <div class="container_input">
            <fa-icon class="icon_inputs" [icon]="faKey"></fa-icon>
            <input class="cadastro_input cadastro_input_senha" [(ngModel)]="usuario_senha" id="senha" [type]="inputType" name="usuario_senha" placeholder="Senha" required>
            <fa-icon id="togglePassword"
                        [icon]="showPassword ? faEyeSlash : faEye"
                        (click)="togglePasswordVisibility()"
                        class="icon_view_senha">
            </fa-icon>
        </div>

        <div class="contain_esqueci_senha">
            <a class="esqueci_senha" (click)="esqueciSenha()">
                Esqueci a senha
            </a>
        </div>
    </div>
</main>
