<nav class="mobile-nav mobile_nav" role="navigation" *ngIf="isMenuOpen">
    <ul class="mobile-nav__items">
        <li>
            <a>
                <fa-icon ></fa-icon>
                Feed
            </a>
        </li>
    </ul>
</nav>

<div class="page-menu">
    <header class="header1">
        <a class="page-menu--toggle page-menu__hamburger" id="btnMenu" (click)="toggleMenu()">
            <span class="page-menu__item"></span>
            <span class="page-menu__item"></span>
            <span class="page-menu__item"></span>
        </a>
        <span class="span_criar-igreja" id="span_criar-igreja">LISTA DE IGREJAS</span><br>
    </header>

    <div id="divCorpo">
        <div id="eventos_gerais" class="div_eventos_gerais">
          <span id="eventos_dias" class="span_eventos_gerais">Eventos dos próximos 7 dias:</span>
          <span id="eventos_missas" class="span_eventos_gerais">Missas: {{eventos.missa}}</span>
          <span id="eventos_confissoes" class="span_eventos_gerais">Confissões: {{eventos.confissao}}</span>
          <span id="eventos_outros" class="span_eventos_gerais">Outros eventos: {{eventos.outro}}</span>
        </div>

        <div class="divListaPrincipal" id="divListaPrincipal">

            <div *ngFor="let igreja of igrejas">
              <div class="div-igreja">
                <span class="span-igreja">{{ igreja.tipo }}</span>
              </div>
          
              <div style="font-family: Exo;">
                <div *ngFor="let comunidade of igreja.listabycat" class="accordion-item">
                  <h3 
                    (click)="toggleAccordion(comunidade)" 
                    [ngClass]="{'active': comunidade.expanded}" 
                    style="border: 1px solid #ddd; border-radius:0px; display: flex; color: #484848; font-weight: bold; cursor: pointer; position: relative; margin-top:0px; padding: 1.5em .5em 1.5em .7em; background: white;margin-block-end: unset; margin-block-start: unset;">
                    
                    <fa-icon [icon]="comunidade.expanded ? faCircleChevronUp : faCircleChevronDown" style="font-size: 15px; color: darkred; display: flex; align-items: center;"></fa-icon>
                    
                    <div class="list-line">
                      <label for="itens-check" class="label-lista">
                        <p style="display:inline; padding:5px;">{{ comunidade.igreja_nome }}</p>
                      </label>
                    </div>
                    
                    <fa-icon [icon]="faGear" (click)="openModal(comunidade.igreja_id, comunidade.igreja_nome, igreja.tipo)" class="editar-igreja" style="line-height: 1;"></fa-icon>
                  </h3>
          
                  <div [ngClass]="{'accordion': true, 'expanded': comunidade.expanded}" class="modal-container endereco-lista ">
                    <div style="display: flex; flex-direction: column; align-items: flex-start; line-height: 0px; font-size: 13px; gap: 0px; padding: 0.4em 1.2em !important;">
                      <p>{{ comunidade.igreja_endereco_logradouro }}, {{ comunidade.igreja_endereco_numero }}</p>
                      <p>{{ comunidade.igreja_endereco_bairro }}</p>
                      <p>{{ comunidade.igreja_endereco_cidade }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>

    </div>

    <div id="add" (click)="criarIgreja()">
        <fa-icon [icon]="faPlus" class="plus"></fa-icon>
    </div>



    <app-modal *ngIf="showModal" (close)="closeModal()">
      <div modal-body>
        <div class="principal_config">

          <div id="calendario" (click)="calendario()">
            <div class="container_span">
              <fa-icon [icon]="faCalendar" class="span_ions_config"></fa-icon>
              <span>Calendário</span>
            </div>
          </div>

          <div id="editar_perfil" (click)="configurarPerfil()">
            <div class="container_span">
              <fa-icon [icon]="faGear" class="span_ions_config"></fa-icon>
              <span>Editar perfil</span>
            </div>
          </div>

          <div *ngIf="showOptionsModal" (click)="openModalRemove()" id="excluir">
            <div class="container_span">
              <fa-icon [icon]="faTrash" class="span_ions_config"></fa-icon>
              <span>Excluir</span>
            </div>
          </div>

          <div *ngIf="showOptionsModal" (click)="getExisteMatriz(selectedIgrejaName!, selectedIgrejaId!)" id="tornar_matriz">
            <div class="container_span">
              <fa-icon [icon]="faChurch" class="span_ions_config"></fa-icon>
              <span>Tornar paróquia</span>
            </div>
          </div>

        </div>
      </div>

      <div modal-footer>
        <button (click)="closeModal()" class="button_cancel">
          Cancelar
        </button>
      </div>
    </app-modal>



    <app-modal *ngIf="showModalConfirm">
      <div modal-body>
        <div style="font-size: 13px;">
          <p>A Paróquia atual é a <b>{{matrizModalConfirm}}</b>.</p><br>
          <p>Deseja tornar a <b>{{igrejaModalConfirm}}</b> Paróquia?</p>
        </div>
      </div>

      <div modal-footer class="modal-footer">
        <button id="cancelarTransicao" (click)="closeModalConfirm()">Cancelar</button>
        <button id="confirmarTransicao" (click)="atualizar_matriz()">Confirmar</button>
      </div>
    </app-modal>


    <app-modal *ngIf="showModalRemove">
      <div modal-body>
        <div style="font-size: 13px;">
          <p> Deseja remover <b>{{selectedIgrejaName}}</b>?</p><br>
        </div>
      </div>

      <div modal-footer class="modal-footer">
        <button id="cancelarRemocao" (click)="closeModalRemove()">Cancelar</button>
        <button id="confirmarRemocao" (click)="remover()">Confirmar</button>
      </div>
    </app-modal>
</div>